/* Section CSS untuk Halaman Login */
body.logBackground{
    background: url(../gambar/bgmasjid.jpg);
    margin:auto;
    background-size:cover;
    background-repeat: no-repeat;
}
div.topLogoLogin{
    background:url(../gambar/logomasjid.png);
    background-color: rgb(188, 206, 200);
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family:Arial;
    text-align: center;
    font-weight: bold;
}
#footer{
    position:fixed;
    bottom:0;
    width:100%;
    height: 30px;   /* tinggi dari footer */
    background:#6cf;
}
div.botLogoLogin{
    background-color: aquamarine;
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-family:Arial;
    opacity:0.75;
    text-align: center;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
}
div.boxlogin{
    background-color:rgb(223, 235, 231);
    opacity:0.8;
    margin: 80px auto;
    margin-top : 15%;
    text-align: center;
    width:300px;
    height:140px;
    position: relative;
    display: block;
    border-top:20px solid salmon;
    border-bottom:20px solid salmon;
    padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #d6d6d6;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li.ruang{
    height:11px;
}
.registrasi{
    font-size: 15px;
    font-family: Arial;
}
.masuk{
    font-size: 15px;
    font-family: Arial;
}
/* Section Halaman sebagai Admin */
body.adminPAGE {
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    background:#232323;
    padding:10px;	
    color:#fff;
    font-family:"open sans";
    overflow:hidden;
    margin: 0;
}
.judul{
    float:left;
    margin: 0;
    font-size: 26px;
    color: goldenrod;
}
.listmenu{
    position: fixed;
    background: #f6f6f6;
    color: #232323;			
    height: 100%;
    width: 170px;
    top: 0; /*Temporal Change dari 0 ke 56*/ 
    left: -300px;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    padding: 0px;
    border: 1px solid #7c7676;	
    text-align: center;
    overflow:hidden;		
}
.listmenu li.kosong{
    height:40px;
    background-color: goldenrod;
}
/* Disable hover warna list menu keseluruhan */
.listmenu li.kosong:hover{
    background-color: goldenrod;
}
.listmenu li.kosongbesar{
    height:165px;
}
.listmenu li.kosongbesar:hover{
    background: #f6f6f6;
    display:none;
}
.listmenu li.botIkon:hover{
    background: #f6f6f6;
}
.listmenu ul{
    padding: 0;
}
.listmenu li{
    list-style-type: none;
    padding: 10px 0px;
}
.listmenu a{
    color: #232323;
    text-decoration: none;
    font-size: 16pt;
}
.listmenu li:hover{
    background-color: greenyellow;
    width: 100%;
    /* Shadow untuk transparan */
    box-shadow: 1px 1px 100px rgba(100, 94, 94, 1);
}
.tombolmenu{
    float: right;
    background: transparent;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
.sidebar-menu{
    left: 0 !important;
}
/* End Secion */
.maindsb{
    padding:0;
    margin-left: 180px;
}
.kontakadmin{
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
div.botLogoFooter{
    background-color: aquamarine;
    color:rgb(0, 0, 0);
    font-size: 11px;
    font-family:Arial;
    opacity:0.8;
    text-align: center;
    width:100%;
    /* left:171px; */
    left:0;
    bottom:0;
    position:fixed;
}
/* Section untuk Halaman pengurus */
.input-tanggal{
	padding: 10px;
	font-size: 14pt;	
}
/* Section untuk Rekap Data TMEPORAL */
.cekrekaptbladm{
    font-size: 12pt;
    border-collapse:collapse;
    width:80%;
    font-family: Arial;
    border: 1px solid black;
    margin-left:10% ;
}
.cekrekaptbladm, th {
    background-color: #62a5c2;
    color: black;
    font-weight: normal;
    vertical-align: center;
    text-align: center;
}
.cekrekaptbladm th, .cekrekaptabel td {
    padding: 6px 12px;
    text-align: center;
}
.cekrekaptbladm tr {
    background-color: #ffffff88;
    color:black;
}
.cekrekaptbladm tr:nth-child(even) {
    background-color: #cfb3b3;
    color:black;
    text-align: center;
}
.cekrekaptbladm tr:nth-child(odd) {
    background-color: #83a87f;
    color:black;
    text-align: center;
}
/* Section untuk Rekap Data PENGGUNA */
.cekrekaptbl{
    font-size: 12pt;
    border-collapse:collapse;
    width:40%;
    font-family: Arial;
    border: 1px solid black;
    margin-left:25%;
    margin-right:25%;
}
.cekrekaptbl, th {
    background-color: #62a5c2;
    color: black;
    font-weight: normal;
    vertical-align: center;
    text-align: center;
}
.cekrekaptbl th, .cekrekaptabel td {
    padding: 6px 12px;
    text-align: center;
}
.cekrekaptbl tr {
    background-color: #ffffff88;
    color:black;
}
.cekrekaptbl tr:nth-child(even) {
    background-color: #cfb3b3;
    color:black;
    text-align: center;
}
.cekrekaptbl tr:nth-child(odd) {
    background-color: #83a87f;
    color:black;
    text-align: center;
}
/* Section untuk Dashboard Cek Rekap Data as Admin*/
.cekrekapadm{
    font-size: 10pt;
    border-collapse:collapse;
    width:70%;
    font-family: Arial;
    border: 1px solid black;
}
.cekrekapadm, th {
    background-color: #1ea4e2;
    color: black;
    font-weight: normal;
    vertical-align: center;
    text-align: center;
}
.cekrekapadm th, .cekrekaptabel td {
    padding: 6px 12px;
    text-align: center;
}
.cekrekapadm tr {
    background-color: #ffffff88;
    color:rgb(0, 0, 0);
}
.cekrekapadm tr:nth-child(even) {
    background-color: #dbdada;
    color:black;
    text-align: center;
    font-weight: bold;
}
.cekrekapadm tr:nth-child(odd) {
    background-color: #cfb0cb;
    color:black;
    text-align: center;
}
/*Section untuk Cetak Laporan*/
.cetak{
    font-size: 14pt;
    font-style: normal;
    font-family: Arial;
    color: black;
    text-decoration: none;
}
.cetaklaporanguest{
    text-align: center;
}
.Laporan{
    float: right;
    margin-right: 200px;
}
.rekapusertbl{
    width:100%;
    font-size: 12pt;
}
.rekapusertbl .p{
    font-size: 10pt;
}
.mengetahui{
    float:right;
    padding-right: 30%;
    font-size: 12pt;
}
/* Section untuk cetak laporan admin */
.rekapadmin{
    font-size: 10pt;
    border-collapse:collapse;
    width:70%;
    font-family: Arial;
    border: 1px solid black;
}
.rekapadmin, th {
    background-color: #81caec;
    color: black;
    font-weight: normal;
    vertical-align: center;
    text-align: center;
}
.rekapadmin th, .rekapadmin td {
    padding: 6px 12px;
    text-align: center;
}
.rekapadmin tr {
    background-color: #ffffff88;
    color:rgb(0, 0, 0);
}
.rekapadmin tr:nth-child(even) {
    background-color: #e6e6e6;
    color:black;
    text-align: center;
}
.rekapadmin tr:nth-child(odd) {
    background-color: #f3b3d1;
    color:black;
    text-align: center;
}
.cekuser{
    font-size:14pt;
    font-family: 'Times New Roman', Times, serif;
    margin-left:30%;
}